.index-wrapper {
    height: calc(100vh - 3.75rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.search-logo {
    width: 400px;
}

.search-logo img {
    width: 300px;
}

.main-search {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 60px;
}
.main-search input{
    float: left;
    font-size: 16px;
    width: 856px;
    border: 0;
    line-height: 60px;
    padding: 0 32px 0 12px;
}
.main-search button{
    background-color: #ed6767;
    width: 70px;
    height: 60px;
    cursor: pointer;
    border: none;
}

.Menus__logo {
    width: 210px;
    height: 100px;
}

.troll-rank {
	margin-top: 20px;
	width: 900px;
	height: 590px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1e1f21;
}

.troll-top5 {
	padding: 20px 10px 10px 10px;
	border-radius: .25rem;
	border: 0.5px solid #ced4da;
	width: 430px;	
	height:535px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.troll-top5-title {
	width: 400px;
	margin-bottom: 20px;
	text-align: center;
	color: white;
	font-size: 1.3rem;	
}

.troll-top5 a {
	margin-bottom:20px;
}

.troll-user-item {
	border-radius: .25rem;
	width: 360px;
	height: 70px;
	padding: 5px 5px 5px 5px;
	line-height:80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: white;
	font-size: 1.10rem;
	border: 1px solid #495057;
}

.troll-ranking {
	width:45px;	
	letter-spacing: 5px;
	text-align:center;
	margin-left: 15px;
	margin-right: 20px;
}

.troll-count {
	width: 60px;	
	letter-spacing: 3px;
}

.troll-name {
	overflow: hidden;
	width: 180px;
	text-align: center;
}
.troll-top5 a img {
	width:50px;
	height: 50px;
}
.troll-content {
	overflow: hidden;
	width: 230px;
	height: 80px;
	text-align: center;
}


