<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trollreport.gg.summoner.mapper.SummonerMapper">
	<insert id="insertSummoner" parameterType="com.trollreport.gg.summoner.domain.SummonerDto">
		INSERT INTO summoner_board (
			id,
			accountId,
			name,
			summonerLevel,
			profileIconId,
			createdTime
		) VALUES (
		#{id}
		, #{accountId}
		, #{name}
		, #{summonerLevel}
		, #{profileIconId}
		, NOW()
		)
	</insert>

	<select id="selectSummoner" parameterType="String" resultType="com.trollreport.gg.summoner.domain.SummonerDto">	
		SELECT * FROM summoner_board WHERE REPLACE(name, ' ', '') = #{name}
	</select>
</mapper>