.troll-post {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.troll-post-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 1200px;
    min-height: 700px;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    background-color: #1e1f21;
}

.troll-post-top {
    flex-direction: column;
    display: flex;
}

.troll-post-sub-top {
    display: flex;
    align-items: center;
}

.troll-post-title {
    font-size: 25px;
    font-weight: bold;
}

.troll-post-line {
    width: 1118px;
    height: 0.1px;
    margin-top: 13px;
    margin-bottom: 17px;
    border-top: 1px solid #3f3f45;
}

.troll-post-title-line {
	margin-left: 10px;
    margin-right: 10px;
    width: 1px;
    height: 25px;
    border-left: 1px solid white;
}

.troll-post-category-line {
    margin-left: 10px;
    margin-right: 10px;
    width: 1px;
    height: 20px;
    border-left: 1px solid white;
}

.troll-post-content {
	min-height: 500px;
}

/*헤더*/
.Summoner_Header {
    margin-top: 50px;
    width: 1200px;
    border-bottom: 1px solid #3b3c40;
    height: 150px;
}
.Summoner_Info {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Summoner_Header_Wrapper {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    height:100%;
}
.Summoner_Header_Style {
    background: linear-gradient(rgb(194, 158, 82) 0px, rgb(122, 90, 38) 88%, rgb(168, 132, 73));
    border-radius: 100%;
    padding: 1px;
}
.Summoner_Header_img {
    border-radius: 100%;
}
.Summoner_Header .profile {
    border: 2px solid white;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
.Summoner_Header_Userinfo {
    height: 104px;
    margin-left: 25px;
}
.PastRank ul li{
    display: inline-block;
    padding: 3px 4px 2px 4px;
    margin-right: 10px;
    background: #e0e3e3;
    color: #657070;
    font-size: 11px;
    border: 1px solid #ced3d3;
    border-radius: 3px;
}
.PastRank ul li b{
    font-weight: bold;
}
.Summoner_rank {
    padding-top: 6px;
    color: #555e5e;
    font-size: 13px;
}
.Summoner_name {
    line-height: 80px;
    padding-top: 10px;
    color: #fbfbfb;
    font-size: 30px;
    font-weight: bold;
}
.Summoner_Prefer {
    width: 650px;
}

/* 추천 */
.troll-post-like {
	width: 1118px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #3b3c40;
	border-bottom: 1px solid #3b3c40;
}

.like-button {
	margin-left: 5px;
	display: flex;
	padding: 0 13px;
	line-height: 32px;
	justify-content:center;
	border: 1px solid #d6dae0;
	border-radius: 3px;
	font-weight: 600;
    color: #979a9e;
}

.like-button .like-count {
	margin-left: 2px;
}

/* 댓글 */
.troll-post-comment-form input{
	color: white;
	border: 1px solid #b3b3b3;
	height: 40px;
	border-radius: 5px;
	margin-top: 20px;
	width: 1030px;
	padding: 0px 82px 0 13px;
	background-color: #27282d;
	
}
.troll-post-comment-form button {
	display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    width: 80px;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    border: 1px solid none;
    border-radius: 0.2rem;
    background-color: #ed6767;
    color: black;
    transition: background-color 0.3s linear;
}

.troll-post-comment-list {
	display: flex;
	flex-direction: column;
}

.troll-post-comment {
	padding: 10px 0px 10px 0px;
	width: 1118px;
}

.troll-post-comment:nth-child(n+2) {
	margin-top: 5px;
	border-top: 1px solid #3b3c40;
}

.troll-post-comment-name{
	color: white;
	font-size:18px;
	font-weight: bold;
}

.troll-post-comment-content {
	margin-top: 4px;
}

.troll-post-comment-date {
	font-size:13px;
	float:left;
	color: #999;
}