.report {
    display: flex;
    justify-content: center;
    align-items: center;
}
.report-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1200px;
}
.report-wrapper img {
    width: 300px;
}
.post-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1e1f21;
    margin-top: 10px;
    margin-bottom: 50px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height:900px;
    width: 1200px;
}

.post-wrapper > div {
	width: 1000px;
}
.form-control, .custom-select, .comment-post {
	background-color: #27282d !important;
	color: white !important;
	font-size: 1.1rem;
}
.editor-tools {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.editor-title {
    margin-top: 10px;
}

.editor-title input {
    font-weight: bold;
    margin-top: 10px;
}
.editor-tools .btn {
    width: 80px;
    height:40px;
}

.custom-select {
    height: 60px;
    width: 200px;
}

.editor-wrapper {
	margin-top: 10px;
	margin-bottom: 10px;	
}

.comment-post {
	width: 70px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: white;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
}

.ck-toolbar {
	background-color: #B2B8D9 !important;
}

.ck-editor__editable {
	background-color: #27282d !important;
	color: white;
	min-height: 500px;
	max-height: 500px;
}

.troll-post-notice {
	font-size: 16px;
	color: red;
}