<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trollreport.gg.troll.mapper.TrollPostMapper">

	<select id="getTrollPostCount" parameterType="String" resultType="int">
		SELECT Count(*) FROM troll_board where troller = #{name} 
	</select>
	
	<insert id="insertPost" parameterType="com.trollreport.gg.troll.domain.TrollPostDto">
		INSERT INTO troll_board (
			category
			, title
			, content
			, writer
			, troller
			, viewCnt
			, deleteYn
			, insertTime
			, updateTime
			, deleteTime
			, likeCount
		) VALUES (
	        #{category}
	        , #{title}
	        , #{content}
	        , #{writer}
	        , #{troller}
	        , 0
	        , 'N'
	        , NOW()
	        , NULL
	        , NULL
	        , 0
		)
	</insert>
	
	<select id="getPostList" parameterType="com.trollreport.gg.troll.domain.SearchDto" resultType="com.trollreport.gg.troll.domain.TrollPostDto">
        SELECT * FROM troll_board WHERE LOWER(REPLACE(troller, ' ', '')) = #{searchUser} 
        ORDER BY likeCount DESC
        LIMIT #{page}, #{line_per_page}
    </select>
    
    <select id="getPost" parameterType="String" resultType="com.trollreport.gg.troll.domain.TrollPostDto">
        SELECT * FROM troll_board WHERE id = #{id}
    </select>
    
     <insert id="createLike" parameterType="java.util.HashMap">
        INSERT INTO trolllike_board (
        	bid,
        	uid,
        	isLike
        ) VALUES (
        	#{bid},
        	#{uid},
        	#{isLike}
        );
    </insert>
    
    <select id="isLike" parameterType="java.util.HashMap" resultType="com.trollreport.gg.troll.domain.TrollLikeDto">
        SELECT * FROM trolllike_board WHERE bid = #{bid} AND uid = #{uid}
    </select>
    
    <update id="increaseLike" parameterType="java.util.HashMap">
        UPDATE troll_board SET likeCount=#{likeCount}+1 WHERE id=#{bid}
    </update>
    
    <update id="decreaseLike" parameterType="java.util.HashMap">
        UPDATE troll_board SET likeCount=#{likeCount}-1 WHERE id=#{bid}
    </update>
    
    <insert id="insertComment" parameterType="com.trollreport.gg.troll.domain.TrollCommentDto">
        INSERT INTO trollcomment_board (bid,uid,content,insertTime) VALUES (#{bid}, #{uid}, #{content}, NOW())
    </insert>
    
    <select id="getTrollBoardTop5" resultType="com.trollreport.gg.troll.domain.TrollPostDto">
        SELECT * FROM troll_board ORDER BY likeCount DESC LIMIT 0,5
    </select>
</mapper>