<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trollreport.gg.troll.mapper.TrollPostMapper">
	<select id="getTrollPostCount" resultType="int">
		SELECT Count(*) FROM troll_board where troller = #{name} 
	</select>
	<insert id="insertPost" parameterType="com.trollreport.gg.troll.domain.TrollPostDto">
		INSERT INTO troll_board (
			category
			, title
			, content
			, writer
			, troller
			, view_cnt
			, delete_yn
			, insert_time
			, update_time
			, delete_time
		) VALUES (
	        #{category}
	        , #{title}
	        , #{content}
	        , #{writer}
	        , #{troller}
	        , 0
	        , 'N'
	        , NOW()
	        , NULL
	        , NULL
		)
	</insert>
	
</mapper>